canvas {
    margin-top: 5em;
    border: 1px solid black;
    background-color: rgb(39, 164, 44);
}

.button {
    width: 198px;
    height: 50px;
    background-color: #ccc;
    outline: none;
    border: 0;
    border-bottom: 3px solid grey;
    box-sizing: border-box;
    font-size: 20px;
}

.save {
    display: none;
}

.save-button:active {
    border: 0;
    border-top: 3px solid white;
}

.selector {
    margin: 0.5em;
    display: none;
    width: 198px;
    height: 50px;
}

label {
    display: none;
}

.angle {
    display: none;
}
